{% extends "layouts/base.html" %}
{% block content %}

{% for question in page_obj.items %}
    <p>
        <a href="/questions/{{question.id}}">{{ question.title }} <span class="text-secondary num-answers">({{ question.num_answers() }} comments)</span></a>
    </p>
{% endfor %}
<div class="pagination" style="margin-bottom: 3; margin-top: 10">
    <span class="step-links">
        {% if page_obj.has_prev %}
            <a href="?page={{ page_obj.prev_num }}">&laquo; previous</a>
        {% endif %}

        <span class="current text-secondary">
            page {{ page_obj.page }} of {{ page_obj.pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_num }}">next &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}