{% extends "layouts/base.html" %}

{% block title %}{{question.title}} | CSQA{% endblock %}

{% block content %}
<div id="question">
<h5>{{question.title}}</h5>
<div style="margin-bottom: 5px; font-size: 17px; white-space: break-spaces">{{question.body | urlize }}</div>
<div class='text-secondary' style="font-size: 14px">
  posted by {{ question.user }}</span><span class="separator">|</span>{{ question.x_ago() }}

  <span class="separator">|</span>
  <a class="upvote" id="click-btn-upvote" data-questionid="{{ question.id }}"  href='#' >
    Upvote   
  </a>
  <span class="separator">|</span>
  <a class="downvote" id="click-btn-downvote" data-questionid="{{ question.id }}"  href='#' >
     Downvote   
  </a>
  <span class="separator">|</span>
  <span id = "likes">{{question.points}} points</span>
</div>


<hr class='answer-hr'/>
<div
  v-if="answersHidden"
  style="text-align: right; font-size: 14px; margin-bottom: 5px">
  <a v-on:click="toggleAllAnswersShown" href="javascript:void(0)">
    <span v-if="!allAnswersShown">Show all comments</span>
    <span v-if="allAnswersShown">Hide some comments</span>
  </a>
</div>

<div>

  {% for answer in answers %}
  <hr class='answer-hr'/>
  <div class='answer-block'>

    <span>{{ answer.text }}</span>


    <div class='text-secondary answer-sub'>
      <span>{{ answer.user_id }}</span>
      <span class="separator">|</span>
      <span>{{ answer.x_ago() }}</span>
      <span class="separator">|</span>
      <span>{{ answer.points }} points</span>
    </div>
  </div>
  {% endfor %}
</div>


<form method="post">

  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.answer.label }} <br>
    {{ form.answer(class = "form-control", rows = "7", id="text") }}
  </div>

  {{ form.submit(class="btn btn-primary mb-2") }}
  {{ form.csrf_token() }}

</form>

<script type="text/javascript">
$(document).on('click', '#click-btn-upvote', function(event) {
  
  $.ajax({
    url : '/question/upvote',
    type : "post",
    contentType: 'application/json;charset=UTF-8',
    dataType: "json",
    data : JSON.stringify({'questionid' : $('#click-btn-upvote').data('questionid')}),
    success : function(response) {
      console.log(response);	
      var point = document.getElementById("likes")
      point.textContent = response["new_point"] + " points"
      
    },
    error : function(xhr) {
      console.log(xhr);
    }
  });
  event.preventDefault();
});

</script>

<script>

$(document).on('click', '#click-btn-downvote', function(event) {
  $.ajax({
    url : '/question/downvote',
    type : "post",
    contentType: 'application/json;charset=UTF-8',
    dataType: "json",
    data : JSON.stringify({'questionid' : $('#click-btn-downvote').data('questionid')}),
    success : function(response) {
      console.log(response);	
      var point = document.getElementById("likes")
      point.textContent = response["new_point"] + " points"
    },
    error : function(xhr) {
      console.log(xhr);
    }
  });
  event.preventDefault();
});

</script>

{% endblock %}